.container{
  padding: 20px 30px;
 }

  .basic, .contact, .option{
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 10px;
  }
  p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  #container {
    width: 1000px;
    margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}
.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}
.btn {

 
  float: right;
}

.btn-submit,.btn-cancel{
  padding: 5px;
  font-size: 12px;
  color: white;
  background-color: dimgray;
}