.basic_Info, .contact_Info, .optional_Info {
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 5px;
}

p {
    margin: 5px;
    font-family: "Arial Black";

}

.btn_remote_right {
    float: right;
}


button {
    padding: 5px;
    background-color: gray;
    color: white;

}




#container {
    width: 1000px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}

.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}