.navbar{
  display: flex;
  
  background-color: #000099;
  overflow: hidden;
}
.navbar ul{
  display: flex;
}
.navbar :last-child{
  border: none;
}
.navbar li{
 list-style: none;
 border-right: 1px solid white;
}
.navbar a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 16px;
 
}

.navbar a:hover{
  background-color:  #1aa3ff;
}
@media screen and (max-width: 700px) {
  .navbar{
    justify-content: center;
  }
  .navbar ul{
    display: block;
  }
  .navbar li{
    margin-top: 10px;
    border-right: none;
  }

  .navbar a{
    padding: 2px 10px;
  }
}