body{
  background-color: rgb(231, 228, 224);

}
.content{
  padding-left: 40px ;
  padding-right: 40px;
}

.content h1{
  text-align: center;
  
}
.product-list{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  column-gap: 30px;
  row-gap: 10px;
}

.product{
  display: grid;
  grid-template-rows: 300px 1fr;
  background-color: #ffffff;
  row-gap: 25px;
  max-height: 600px;
  border-radius: 5px;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.1); ;
}

.product:hover{
  transform: scale(1.1);
  transition: 0.2s;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.5); ;

}


.img{
 object-fit: cover;
 height:100%;
 width: 100%;
}

/* .images{
  max-width: 400px;
 
} */
.description{
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
  
}

.description p{
  margin: 0;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  max-height: 300px;
}
.description p:first-child{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.pagination{
  position: absolute;
  margin-top: 40px;
}

.pagination a{
  color: #097059;;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  /* border: 1px solid rgba(90, 88, 88, 0.483); */
  /* box-shadow:   2px 1px rgba(0, 0, 0, 0.2);; */
  border-radius: 20px;
}


.pagination a:hover{
  background-color: rgb(167, 163, 160);
}

.active{
  border-radius: 20px;
  padding: 4px 10px 4px 10px;
  background-color: #097059;;
  color: white;
}