.course {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
}

.course h2 {
    color: #333;
}

.course p {
    margin-top: 5px;
    color: #666;
}

.show_all
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img_course
{
    width:100%;
}

